html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
* {
  outline: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

#upload {
  background-color: #f3f3f3;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#upload .box {
  background-color: #c7d8ec;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 3px dashed #778391;
  transition-duration: 500ms;
}
#upload .box.draged {
  background-color: #aacaee;
}
.box__file {
  display: none;
}
.box strong {
  font-weight: bold;
}
.box label {
  font-size: 2rem;
  user-select: none;
}
.box label:hover {
  cursor: pointer;
}

#visualization {
  display: none;
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#mynetwork {
  background-color: #f3f3f3;
  width: 70vw;
  height: 90vh;
  outline: none;
  border: none;
}
.details {
  text-align: center;
  width: 25vw;
  height: 90vh;
  background-color: #f3f3f3;
}
.details #search {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 1.4rem;
  margin-top: 1rem;
  border: 1px solid rgb(116, 116, 116);
}
.details #search_result {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1rem;
}
.details #search_result p {
  text-overflow: ellipsis;
  padding: 0.3rem;
}
.details #search_result p:hover {
  background-color: #096bdb;
  color: white;
  cursor: pointer;
}
